<nav class="container-fluid navbar">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <span class="navbar-title">Jadob Framework</span>
        </div>
        <div class="col-sm-12 col-md-8 navbar-menu">
            <a href="#" class="navbar-link">Getting Started</a>
            <a href="#" class="navbar-link">Components</a>
            <a href="#" class="navbar-link">Tutorials</a>
            <a href="#" class="navbar-link">Articles</a>
        </div>
    </div>
</nav>
