<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<main class="container">
    <div class="row header ">
        {% include header.html %}
    </div>
    <div class="row content">
        {{ content }}
    </div>
    <div class="row footer">
        {% include footer.html %}
    </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(function () {
        $('table').addClass('table table-hovered table-bordered table-striped');
    })
</script>
</body>
</html>
